::placeholder {
    color: black;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: black;
}

::-ms-input-placeholder { /* Microsoft Edge */
   color: black;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #38A1F3; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #38A1F3; 
}
body{
    font-family: 'Ubuntu', sans-serif;
}
input{
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 22px;
    border: 2px solid #38A1F3;
    margin-bottom: 22px;
    border-radius: 20px;
    transition: 0.3s;
}
input:focus{
    outline: none;
    background-color: #ffffff;
}
input:hover{
    outline: none;
    background-color: #38A1F3;
}
#form{
    width: 300px;
    margin: auto;
    transition: 0.3s;
}
#map {
    height: 50%;
    width: 100%;
    vertical-align: top;
    display: inline-block;
    float: left;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#main {
    position: absolute;
    top: 58%;
    width: 100%;
    height: 42%;
    float: left;
    overflow-y: auto;
    background: #ffffff;
    text-align: center;
}
#main div{
    border: 1px solid #38A1F3;
    color: black;
    transition: 0.3s;
    margin: 22px;
    padding: 22px;
    border-radius: 23px;
}
#main div:hover{
    background-color: #38A1F3;
    color: #ffffff;
    border-radius: 30px;
}
#main img{
    border-radius: 27px;
}
